*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00203FFF;
}
.container{
    background-color: #ADEFD1FF;
    text-align: center;
    width: 30vw;
    padding: 30px;
    margin-top: 300px;
    margin-left: 70vh;
}

.container> a {
    text-decoration: none ;
    color: #000;
    font-size: x-large;
}

.container > a:hover{
   transition: .2s ease-in-out;
    border-bottom: #000 3px solid;
}